In [2]:
import pandas as pd

In [17]:
origin_df = pd.read_csv('data/WID_Data_Metadata/WID_Data_20112025-013227.csv', sep=';', skiprows=1, encoding='utf-8')
origin_df['mean_of_gini_coefficient'] = origin_df.iloc[:, 2:13].mean(axis=1)
origin_df['mean_of_carbon_emissions'] = origin_df.iloc[:, 13:24].mean(axis=1)
origin_df.columns = origin_df.columns.str.rstrip()
mean_df=origin_df[['Country', 'mean_of_gini_coefficient', 'mean_of_carbon_emissions']]

print('df shape:', mean_df.shape)
print('Country number of unique:', mean_df['Country'].nunique())
print(mean_df.describe())
numeric_cols = mean_df.select_dtypes(include='number').columns
mean_df[numeric_cols].corr()

df shape: (260, 3)
Country number of unique: 260
       mean_of_gini_coefficient  mean_of_carbon_emissions
count                260.000000                170.000000
mean                   0.770863                  7.375366
std                    0.047923                  7.289941
min                    0.613791                  0.000000
25%                    0.742055                  1.942578
50%                    0.762000                  5.252437
75%                    0.788305                 10.600790
max                    0.991064                 42.330586

                          mean_of_gini_coefficient  mean_of_carbon_emissions
mean_of_gini_coefficient                  1.000000                  0.021384
mean_of_carbon_emissions                  0.021384                  1.000000